body {
  background: url('images/back1.png');
  font-family: 'Fugaz One', cursive !important;

}

#leftTextBox {
  background-color: black;
  text-align: right;
  padding: 15px;
  color: pink;
  font-size: 28px;
  line-height: 2.0 !important;

}
/*regular laoptop*/


@media screen
 and (min-device-width: 1200px;)
 and (max-device-width: 1680px;) {

   image {
     max-width: 850px;
   }

  #leftTextBox {
    font-size: 28px !important;
    line-height: 2.0 !important;
  }

   #first {
     height: 100%;
     width: 100%;
   }

   #second, #third, #fourth {
     height: 99%;
     width: 100%;
   }
 }

	/*tablet*/
	/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    image {
      max-width: 520px;
    }

    #leftTextBox {
      font-size: 18px !important;
      line-height: 1.5 !important;

    }

    #first {
      height: 99%;
      width: 1024px;
    }

    #second, #third, #fourth {
      height: 99%;
      width: 1024px;
    }

}

/* Portrait iphone 6 */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

  /*image {
    max-width: 50%;
  }*/

  #first {
    height: 100%;
    min-width: 400px;
  }

  #leftTextBox {
    font-size: 16px !important;
    line-height: 1.5 !important;

  }

  #second, #third, #fourth {
    height: 100%;
    min-width: 400px;
  }

}

/* Landscape iphone 6 */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    image {
      max-width: 50%;
    }

    #first {
      height: 100%;
      min-width: 400px;
    }

    #second, #third, #fourth {
      height: 100%;
      min-width: 400px;
    }

    #leftTextBox {
      font-size: 17px !important;
      line-height: 1.5 !important;

    }

}

		@media screen and (max-width: 360px) {

      image {
        max-width: 130px;
      }

      #leftTextBox {
        font-size: 18px !important;
        line-height: 1.5 !important;

      }

      #first {
        height: 99%;
        width: 360px;
      }

      #second, #third {
        height: 99%;
        width: 360px;
      }
		}
