body {
  background: url('images/back1.png');
}


/*regular laoptop*/

@media screen
 and (min-device-width: 1200px;)
 and (max-device-width: 1680px;) {

   image {
     max-width: 850px;
   }

   #first {
     height: 90%;
     width: 100%;
   }

   #second, #third, #fourth {
     height: 90%;
     width: 100%;
   }
 }

	/*tablet*/
	/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    image {
      max-width: 520px;
    }

    #first {
      height: 80%;
      width: 1024px;
    }

    #second, #third, #fourth {
      height: 80%;
      width: 1024px;
    }

}

/* Portrait iphone 6 */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

  image {
    max-width: 50%;
  }

  #first {
    height: 90%;
    width: 700px;
  }

  #second, #third, #fourth {
    height: 90%;
    width: 700px;
  }

}

/* Landscape iphone 6 */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    image {
      max-width: 50%;
    }

    #first {
      max-width: 50%;
      height: 90%;
      width: 700px;
    }

    #second, #third, #fourth {
      max-width: 50%;
      height: 90%;
      width: 700px;
    }
}

		@media screen and (max-width: 360px) {

      image {
        max-width: 130px;
      }

      #first {
        height: 80%;
        width: 360px;
      }

      #second, #third {
        height: 80%;
        width: 360px;
      }
		}
